#container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button {
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    color: #410404;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(60, 15, 134);
    color: white;
}

button:active {
    background-color: black;
}

input {
    font-size: 2rem;
    width: 160px;
    text-align: center;
    font-weight: bold;
}

#diceImages img {
    width: 80px;
    margin: 10px;
}
